/*colores*/
.bg-purple { background-color: #605ca8 !important;}
.bg-green {  background-color: #00a65a !important;}
.bg-yellow{  background-color: #f39c12 !important;}
.bg-aqua {   background-color: #00c0ef !important;}
.bg-black {  background-color: #444 !important;}
.bg-red {    background-color: #dd4b39 !important;}
